[Unit]
Description=VizRock live control
After=network.target sound.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/vizrock
ExecStart=/home/pi/vizrock/venv/bin/vizrock_run
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
